# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/saas_boilerplate?schema=public"

# Auth
NEXTAUTH_URL="http://localhost:3010"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# OAuth (optional - add your own)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Stripe (optional - add your own)
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRICE_ID_PRO=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3010"
